{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Votre profile{% endblock %}

{% block body %}
    <h1 class="text-center"> {{ participant.pseudo }}</h1>

<div class="container mt-5">
    <div style='float:left' class="row col-12 col-md-6">
        <img style="max-width: 30%;" src="{{ vich_uploader_asset(participant, 'imageFile') }}">
    </div>

    <div class="col-md-6" style='float:right'>
       <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ participant.pseudo }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ participant.mail }}</td>
            </tr>
            <tr>
                <th>Campus</th>
                <td>{{ participant.campus }}</td>
            </tr>
        </tbody>
       </table>
    </div>
</div>
{% if app.user == participant %}
    <a class="btn btn-primary mt-5" href="{{ path('app_participant_edit', {'id': participant.id}) }}">Editer</a>
{% endif %}
{% endblock %}
