<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">
      <img src="{{ asset('img/logo_sorties.png') }}" width="110" height="50" alt="ENI Sorties">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
        </li>
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Sorties</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_participant_show', {'id' : app.user.id}) }}">Mon profil</a>
          </li>
          
          {% if 'ROLE_ADMIN' in app.user.roles %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_admin_ville_index') }}">Gérer les villes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_admin_campus_index') }}">Gérer les campus</a>
          </li>
          {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
