{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    <table class="table text-center">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date et heure de début</th>
                <th>Durée</th>
                <th>Date limite d'inscription</th>
                <th>Nombre maximum d'inscription</th>
                <th>Informations</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
                <td>{{ sortie.duree }} minutes</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y') : '' }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.infosSortie }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Voir</a>
                    <a class="btn btn-primary" href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Editer</a>
                </td>
                <td>
                    {{ include('sortie/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune sortie enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_sortie_new') }}">Créer une sortie</a>
{% endblock %}
