{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>DateHeureDebut</th>
                <th>Duree</th>
                <th>DateLimiteInscription</th>
                <th>NbInscriptionsMax</th>
                <th>InfosSortie</th>
                <th>actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.infosSortie }}</td>
                <td>
                    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Voir</a>
                    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Editer</a>
                </td>
                <td>
                    {{ include('sortie/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune sortie enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_sortie_new') }}">Créer une sortie</a>
{% endblock %}
