{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Sortie: {{ sortie.nom }} {{ sortie.etat.libelle == 'Annulée' ? '<strong style="color:red">Annulé</strong>' :'' }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ sortie.nom }}</td>
            </tr>
            <tr>
                <th>Date et heure de début</th>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ sortie.duree }} minutes</td>
            </tr>
            <tr>
                <th>Date limite d'inscription</th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre d'inscriptions maximum</th>
                <td>{{ sortie.nbInscriptionsMax }}</td>
            </tr>
            <tr>
                <th>Infos de la sortie</th>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
            <tr>
                <th>Lieu de la sortie</th>
                <td>{{ sortie.lieu }}</td>
            </tr>
            <tr>
                <th>Listes des inscrits</th>
                <td>
                    {% for inscrit in sortie.listeInscrits %}
                        <a class="btn btn-info" href="{{ path('app_participant_show',{'id':inscrit.id}) }}">{{ inscrit.pseudo }}</a>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mb-2" href="{{ path('app_sortie_index') }}">Retour</a>

    {% if sortie.organisateur == app.user %}
    <a class="btn btn-primary mb-2" href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Editer</a>
        {% if sortie.etat.libelle != 'Annulée' %}
            {{ include('sortie/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}

    {% if 'ROLE_ADMIN' in app.user.roles and sortie.etat.libelle != 'Annulée'%}
        {{ include('sortie/_delete_form.html.twig') }}
        <br>
    {% endif %}

    {% if app.user in sortie.listeInscrits %}
        {% if sortie.dateHeureDebut < 'now' %}
        <div>
            <a class="btn btn-primary mb-2 mt-1" href="{{ path('app_sortie_desinscription',{'id':sortie.id}) }}">Désinscription</a>
        </div>
        {% endif %}
    {% else %}
        {% if sortie.dateLimiteInscription >= 'now'  %}
            <div>
                <a class="btn btn-primary mb-2 mt-1" href="{{ path('app_sortie_inscription',{'id':sortie.id}) }}">Inscription</a>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
